body {
  background: rgb(12, 60, 236);
  background: -moz-linear-gradient(
    90deg,
    rgba(12, 60, 236, 1) 18%,
    rgba(255, 90, 0, 1) 83%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(12, 60, 236, 1) 18%,
    rgba(255, 90, 0, 1) 83%
  );
  background: linear-gradient(
    90deg,
    rgba(12, 60, 236, 1) 18%,
    rgba(255, 90, 0, 1) 83%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0c3cec",endColorstr="#ff5a00",GradientType=1);
}
