@font-face {
  font-family: "Supply Mono";
  src: URL("assets/Supply-Regular.otf") format("opentype");
}

html {
  height: auto;
  width: 100%;
}

body {
  --default-padding: 20px;
  --margin-social-icons: 5px;
  --width-social-icons: 25px;

  --wrapper-max-width: 1280px;
  --block-padding: 20px;

  --title-font-size: 18px;

  background: linear-gradient(
    180deg,
    rgba(12, 60, 236, 1) 7%,
    rgba(96, 70, 155, 1) 23%,
    rgba(145, 76, 107, 1) 65%,
    rgba(176, 80, 76, 1) 83%,
    rgba(255, 172, 76, 1) 98%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0c3cec",endColorstr="#ffac4c",GradientType=1);
  font-family: "Supply Mono";
}

/* general settings */
.wrapper-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: var(--wrapper-max-width);
  margin: 0 auto;
  padding-left: var(--block-padding);
  padding-right: var(--block-padding);
}

.wrapper-inner {
  box-sizing: border-box;
  max-width: var(--wrapper-max-width);
  margin: 0 auto;
  padding: var(--block-padding);
}

.block {
  min-height: 300px;
}

#a-fcb,
#nossos-cases,
#beneficios {
  background-color: rgba(0, 0, 0, 0.3);
}

.pill-title {
  border: 2px solid white;
  border-radius: 25px;
  width: fit-content;
}

.pill-title p {
  font-size: var(--title-font-size);
  margin: 0;
  box-sizing: border-box;
  padding: 5px 15px;
}

/* specic blocks */

.header-container > * {
  margin-bottom: var(--block-padding);
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title,
.header-text {
  text-align: center;
  margin: 0;
}

.header-title {
  font-size: var(--title-font-size);
}

.respiro {
  width: 20px;
  height: 5px;
  background-color: black;
}

.header-text {
  font-size: calc(var(--title-font-size) + 10px);
}

/* footer */

.social-media-bar {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 25vh;
  max-height: 200px;
  box-sizing: border-box;
  padding: var(--default-padding);
  align-items: center;
  justify-content: center;
}

.social-media-text {
  color: white;
  font-size: 14px;
  text-align: center;
  margin-bottom: calc(var(--margin-social-icons) * 2);
}

.social-media-icon {
  width: var(--width-social-icons);
  fill: white;
  margin: var(--margin-social-icons);
}

.logo-fcb img {
  width: 100px;
  height: auto;
  margin: calc(var(--margin-social-icons) * 6) 0 0 0;
}

.navbar > .container-fluid {
  width: 100%;
}

/* This applies from 768px onwards */
@media (min-width: 1000px) {
  .navbar > .container-fluid {
    width: auto;
  }
}
